.about-rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin: auto;
}

.about-box {
  display: flex;
  align-items: center;
  background: radial-gradient(#188ff4, #0062c1);
  opacity: 0.85;
  height: inherit;
  width: 50%;
  min-width: 50%;
  margin: 0 20px 40px 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.about-box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  opacity: 1;
}

.about-title-box {
  background-color: #000;
  width: 10%;
  margin: 0 12px 0 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.about-title {
  position: relative;
  top: 45%;
  transform: rotate(-90deg);
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  white-space: nowrap;
}

.about-text {
  width: 100%;
  font-size: 18px;
}

.contributors-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.contributor-left {
  display: flex;
  align-items: center;
  float: left;
  width: 100%;
}

.contributor-right {
  display: flex;
  align-items: center;
  float: right;
  margin: 0 0 0 50%;
}

.contributor-avatar {
  width: 100px;
  height: 100px;
  background-size: 100%;
  border-radius: 50px;
}

.contributor-name {
  font-size: 20px;
  margin: 0 10px 0 10px;
}
