
/* Content Classes */
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: auto auto auto auto;
  padding-top: 100px;
}

.major-topics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto 40% auto auto;
  width: 60%;
}

.minor-topics {
  display: flex;
  flex-wrap: wrap;
  margin: auto auto auto 40%;
  width: 60%;
}

.content-box {
  display: flex;
  align-items: center;
  background-color: #0062c1d5;
  background-image: url("../../assets/CSSTexture1.png");
  width: 60%;
  height: auto;
  margin: 20px auto auto auto;
  margin-left: auto;
  border-radius: 15px;
}

.content-title-wrapper {
  background-color: #000;
  width: 45px;
  margin: 0 0 0 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  white-space: nowrap;
}

.content-title {
  position: relative;
  transform: rotate(-90deg);
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0 0 0 0;
}

.content-area {
  align-self: center;
  width: 100%;
  font-size: 15px;
  margin: auto 10px auto 0;
}

.pic {
  border: 1px solid #000;
  box-shadow: 1px 1px 6px 1px #000;
  margin: 3px 10px 3px 3px;
}