
/*BODY ATTRIBUTE SELECTORS */

body{
  margin: 0px;
  max-width: 100%;
  font-family: Roboto, Tahoma, Verdana, sans-serif;
  background-color: #fff;
  background-image:  url('imgs/creampix.png');
}

/* Oversizing catch-all */
img, embed, object, video {
  max-width: 100%;
}

/* Remove underline from links */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

/* HEADER & MENU */

#header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: radial-gradient(#188ff4,#0062c1);
  color: #ffffff;
  z-index: 999;
  height: 55px;
  margin-bottom: 80px;
}

.banner {
  height: 45px;
  margin: 2px;
  max-width: 50%;
  margin-right: 25px;
}

.banner img {
  max-width: 100%;
  max-height: 90%;
  margin-top: 2px;
}

.props {
  position: absolute;
  left: 3%;
  width: 500px;
}

.fullMenu {
  position: fixed;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 55px;
  padding-bottom: 2px;
  background-color: #0062c1d5;
  background-image: url("imgs/diagstripes.png");
  z-index: 888;
  color: #ffffff;
}

.fullMenuLinks {
  color: #fff;
  font-size: 18px;
  padding: 7px;
}

.fullMenuLinks:hover {
  background-color: #f4564bd5;
  background-image: url("imgs/diagstripes.png")
}


/* MAIN CONTENT */

.sectionMargin {

}

#contentBody {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

/* DEV Info */

#flexBodyOne {
  width: 25%;
  min-width: 250px;
  height: 100%;
  margin: 120px 20px 50px 20px;
  padding-bottom: 700px;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 1px 2px 8px #000000c3;
}

#zInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: 100%;
}

.devPic {
  width: 125px;
  height: 125px;
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 1px 1px 6px 1px #188ff4;
}

.connect {
  text-align: center;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  box-shadow: 1px 1px 15px #188ff4;
  padding: 8px;
  margin: 22px;
}

.logoBox {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 220px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.logos {
  cursor: ne-resize;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-bottom: 12px;
  background-color: #fff;
  background-image: url("imgs/creampix.png");
  box-shadow: 1px 1px 15px #188ff4;
  transition: 0.5s ease;
}

.logos:hover {
  background-color: #0000001b;
}

.sideBarItems {
  margin: 0;
}

.randomFactsList {
  list-style: circle;
  border-top: 2px solid #000;
}

.rflItem {
  padding: 8px;
  margin-top: 2px;
  border-bottom: 1px dotted #000;
}

/* Main Content */

#flexBodyTwo {
  width: 75%;
  margin-right: 20px;
}


/* Fam & Red/Blue Boxes */

#familia {
  width: 100%;
}

.redBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 120px;
  width: 100%;
  max-width: 1025px;
  height: auto;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 1px 2px 8px #ff8977;
}

.blueBox {
  margin-top: 75px;
  width: 100%;
  max-width: 1025px;
  height: auto;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 1px 2px 8px #188ff4;
}

.boxHeading {
  width: 100%;
  margin: 0;
  padding: 6px 0 6px 0;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #000;
  background-color: #fff;
  background-image: url("imgs/creampix.png");
}

.contentPic {
  margin: 20px 0 20px 0;
}

.picCaption {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-image: url("imgs/creampix.png");
  background-color: #fff;
}

.content {
  width: 100%;
  max-width: 1005px;
  padding: 10px;
  margin-top: 8px;
  font-size: 16px;
  color: #000;
}


/* SlideShow */

#slides {
  width: 100%;
  height: auto;
}

 {box-sizing: border-box;}

.slideshow {
  width: 50%;
  max-width: 800px;
  position: relative;
  margin: 20px 0 20px 25%;
}

.slides {
  display: none;
  width: 100%;
}

.slidePic {
  width: 100%;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideCaption {
  width: 100%;
  position: absolute;
  text-align: center;
  color: #f2f2f2;
  font-size: 15px;
  padding: 0 0 20px 0;
  bottom: 8px;
  background-color: rgba(0,0,0,0.7);
}

.slideNumber {
  color: #f2f2f2;
  background-color: rgba(0,0,0,0.2);
  font-size: 12px;
  padding: 12px 12px;
  position: absolute;
  top: 0;
}

.dotAlign {
  text-align:center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Books */

#reading {
  width: 100%;
}

.books {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 2px solid #000;
}

.bookPicLink {
  margin: 12px 15px 12px 8px;
}

.bookPic {
  cursor: ne-resize;
  height: 140px;
  width: auto;
}


/* Spacer for bottom */

.bottomSpacer {
  height: 600px;
}

/* FOOTER */

.footer {
  position: fixed;
  z-index: 1;
  min-height: 10px;
  max-height: 10px;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 8px;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: radial-gradient(#188ff4, #0062c1);
}


/* "We are the music-makers, and we are the dreamers of dreams" */
