
/*BODY ATTRIBUTE SELECTORS */

body{
  margin: 0px;
  max-width: 100%;
  font-family: Roboto, Tahoma, Verdana, sans-serif;
  background: url('https://raw.githubusercontent.com/ShowMeCoders/showmecoders/development/assets/SMC_BG.png') fixed no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
}

/* Oversizing catch-all */
img, embed, object, video {
  max-width: 100%;
}

/* Remove underline from links */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

/* HEADER & MENU */

#header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: radial-gradient(#188ff4,#0062c1);
  color: #ffffff;
  height: 50px;
  margin-bottom: 80px;
  z-index: 999;
}

.banner {
  height: 45px;
  margin: 2px;
}

.banner img {
  max-width: 100%;
  max-height: 90%;
  margin-top: 2px;
}

.props {
  display: none;
  margin-left: 10px;
  padding-right:5%;
  max-width: 30%;
}

.fullMenu {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 55px;
  padding-bottom: 2px;
  background-color: #0062c1d5;
  background-image: url("../../../assets/CSSTexture1.png");
  z-index: 888;
  color: #ffffff;
}

.fullMenuLinks {
  font-size: 14px;
  padding: 8px;
}

/* PAGE STOPS / JUMPS */

.pageStop {
    transform: translateZ( 0 );
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
}

a[ id= "zInfo" ]:target ~ #contentBody div.pageStop {
    transform: translateY( 20px );
}

a[ id= "familia" ]:target ~ #contentBody div.pageStop {
    transform: translateY( 500px );
}

/* MAIN CONTENT */

#contentBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 75px;
}

/* DEV Info */

#zInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
  max-width: 300px;
  margin: 25px;
}

.devPic {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 1px 1px 6px 1px #188ff4;
  margin-top: 100px;
}

.connect {
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  color: #000;
  background-color: #fff;
  box-shadow: 1px 1px 15px #188ff4;
  padding: 5px;
  margin: 12px;
  opacity: 0.8;
}

.logoBox {
  width: 200px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 10px;
}

.logos {
  background-color: #ffffff2f;
  box-shadow: 1px 1px 15px #188ff4;
  width: 30px;
  height: 30px;
  padding: 8px;
  margin-bottom: 12px;
}


/* Page Layout */

#familia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin-top: 120px;
  background-color: #ffffffe4;
}

/* Main Content */

.blueBox {
  width: 100%;
  max-width: 100%;
  height: 300px;
  padding-bottom: 10px;
  box-shadow: 0 -2px 5px #188ff4;
}

.redBox {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
  box-shadow: 0 -2px 5px #ff8977;
}

.boxHeading {
  width: 100%;
  margin: 0;
  padding: 3px 0 3px 0;
  background-color: #fff;
  color: #000;
  border-bottom: 2px solid #fff;
}

.contentPic {
  margin: 0;
  width: 100%;
  height: auto;
}

.content {
  width: 95%;
  margin: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: Roboto;
  color: #000;
}


/* FOOTER */

#footer {
  min-height: 10px;
  max-height: 10px;
  width: 100%;
  padding-bottom: 10px;
  bottom: 0;
  position: fixed;
  text-align: center;
  color: #fff;
  background: radial-gradient(#188ff4, #0062c1);
  z-index: 1;
}


/* "We are the music-makers, and we are the dreamers of dreams" */
